<!DOCTYPE html>
<html>
<head>
    <title>Freight Management Dashboard</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <!-- Sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- Menu Icon to open sidebar -->
        <button id="menuIcon" class="menu-icon">&#9776; Menu</button>
        
        <!-- Content within the sidebar -->
        <div class="sidebar-content">
            <button id="schedulerButton" class="sidebar-button">Open Scheduler</button>
        </div>
    </div>

    <div id="map" style="width: 100%; height: 600px;"></div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/sidebar.js"></script>
</body>
</html>
