<!DOCTYPE html>
<html>
<head>
    <title>Route Information</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="routeInfoContainer">
        <h1>Route Index: {{ route_index }}</h1>
        <!-- <div id="routeMap" style="height: 50%; width: 50%;"></div> -->
        <div id="routeInfo">
            <!-- Route information will be dynamically filled here based on the clicked route -->
        </div>
    </div>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static/js/route_info.js"></script>
</body>
</html>
